body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url('../assets/pubgBackground.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.panel-warning>.panel-heading {
    background-color: #4C4C4C;
    color: #fbd523;
}

.panel-warning {
    border: 1px solid black;
    box-shadow: 2px 2px 30px black;
}

.btn-success {
    background-color: #fbd523;
    width: 100px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:target {
    background-color: #f79122;
}

.orangeMe {
    color: #fbd523;
    padding-left: 10px;
    font-size: 10px;
}

.panel-body {
    padding: 20px 15px 20px 15px;
}

#submitQuiz, #resultsArea {
    display: none;
}
ul li {
    list-style: none;
}

.correct {
    color: #00FF00;
}

.incorrect {
    color: #FF0000;
}

footer{
    height: 25px;
    width: 100%;
    background-color: #2a2a2a;
    position: fixed;
    bottom: 0;
}